@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Train+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: #f2edce;
    font-family: 'Times New Roman', Times, serif;
    font-size: 65%;
    letter-spacing: 2px;
    margin: 0;
    text-align: center;
}

ul > li {
    list-style: none;
}

.card,
.reset-btn {
    cursor: pointer;
}
 .btn{
     border-radius: 1em;
     border: none;
     color: #6ff27f;
     padding: 0.8em;
 }

 h1 {
     font-size: 100px;
     font-family: "Train One", sans-serif;
 }

 h3 {
     font-size: 2em;
     font-family: "Montserrat", sans-serif;
 }

 p {
     font-size: 1.5 em;
     font-family: "Montserrat", sans-serif;
 }

 .move-tracker {
     font-size: 1.4em;
     padding: 1em 0 2em;
     font-family: "Montserrat", sans-serif;
 }

 .modal {
     display: none;
     position: fixed;
     z-index: 99;
     left: 0;
     top: 0;
     width: 100%;
     height: 10%;
     background-color: #e8a2f2;
 }

 .modal-content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: #fff;
     margin: 5% auto;
     border: 0.8em solid #e8a2f2;
     padding-right: 2em;
     width: 80%;
 }

 .close {
     align-self: flex-end;
     color: #6ff27f;
     font-size: 5em;
 }

 .close:hover {
     color: #13ed34;
     text-decoration: none;
     cursor: pointer;
 }

 p.stats:last-child {
     margin-bottom: 1em;
 }

 .play-again-btn {
     background: #6ff27f;
     margin-bottom: 1em;
 }

  .deck-of-cards {
     height: 35em;
     margin-bottom: 6em;
     padding: 0.5em;
     width: 35em;
     margin-right: auto;
     margin-left: auto;
     background: #faf7ed;
     border-radius: 1.5em;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     align-items: center;  
 }

 .card {
    background: #ffc80f;
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
 }

 

 img {
     user-select: none;
     width: 6em;
 }

 .deck img {
     visibility: hidden;
 }

 .deck .card.flip {
     background: green;
     transform: rotateY(180deg);
     transition: transform 0.5s linear;
 }

 .flip img {
     background: green;
     visibility: visible;
 }

 .deck .card.match {
     visibility: visible;
 }